.App {
  text-align: center;
}


.main-bg{
  height:600px;
  background-image: url('./img/nhnbg.png');
  background-size: cover;
  background-position: center;
}

.start {
  opacity: 0;

}
.end{
  opacity: 1;
  transition: opacity 0.5s;
}

table{
  border-collapse: collapse;
  width:100%; 
  margin-top:30px;
}

th, td{
  border-bottom:1px solid #000;
  padding: 15px;
}


